<app-header 
(feature)="pageDisplay($event)"></app-header>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <app-user-data></app-user-data>
        </div>
    </div>
    <hr>
    <h6>This is the body of the weather app.</h6>
    <div class="row">
        <div class="col-md-12">
            <app-display
            *ngIf="pageItem === 'current'"></app-display>
            <app-analysis
            *ngIf="pageItem === 'past'"></app-analysis>
        </div>
    </div>
</div>